/*배경이미지*/
.bg {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
}
body {
    background: url('bg.jpg') no-repeat center fixed;
    background-size: cover;
}
body * {
    z-index: 1;
}
div {
    display: flex;
    justify-content: center;
    color: white;
}
/*헤더*/
header {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 30px;
}
/*로그인 창*/
#ask {
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 15px;
}
input {
    height: 25px;
    width: 195px;
    padding: 2.5px 0px 2.5px 15px;
    border-radius: 15px;
    border-style: none;
    margin-bottom: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: x-small;
}
::placeholder {
    color: rgba(255, 255, 255);
    opacity: 1;
}
/*눈*/
.fa-eye {
    display: flex;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    top: 193px;
    margin-left: 183px;
    line-height: 1;
    scale: 60%;   
    color: rgba(255,255,255);
}
/*sign in*/
button {
    border-style: none;
}
#sign {
    border-radius: 15px;
    width: 210px;
    height: 30px;
    font-size: 8px;
    font-weight: 100;
    padding: 7px 0px 7px 0px;
    background-color: rgba(243, 207, 183);
}
/*!!체크박스!!*/
.found {
    display: flex;
    justify-content:center;
    margin-top: 10px;
    font-size: 10px;
    font-weight: 500;
}
input[type=checkbox] {
    width: 10px;
    height: 10px;
    accent-color: rgba(243, 207, 183);
}
#r_lable {
    color: rgba(243, 207, 183);;
}
#forgot {
    margin-left: 50px; 
}
/*Or sign with...*/
#signwith {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: x-small;
}
.sns{
    display: flex;
    justify-content: center;
    gap: 5px;
}
#facebook {
    border-radius: 3px;
    width: 102.5px;
    height: 29px;
    background-color: white;
    padding: 4px 0px 4px 0px;
    font-size: x-small;
}
#twitter {
    border-radius: 3px;
    width: 102.5px;
    height: 29px;
    background-color: white;
    padding: 4px 0px 4px 0px;
    font-size: x-small;
}